@font-face {
  font-family: 'Exo2';
  font-style: normal;
  src: local('Exo2'), url('../fonts/Exo2.woff') format('woff');
}

@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  src: local('Trebuchet MS'), url('../fonts/TrebuchetMS.woff') format('woff');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background: url("../assets/images/background.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 100vh;
  padding: 1rem;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    overflow: hidden;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}


